if has nix && has use_flake; then
  use flake
else
  mkdir -p .direnv/bin
  if has buck2; then
    buck2 build //tools/glu:glu --show-full-simple-output |
      xargs ln -sf -t .direnv/bin
  else
    cargo build --quiet --locked --manifest-path tools/glu/Cargo.toml
    ln -sf "$PWD/tools/glu/target/debug/glu" .direnv/bin/glu
  fi
  PATH_add .direnv/bin
fi
