target/
tools/glu/target/
buck/cargo/*/crates.json
buck/cargo/*/dependencies.json
node_modules/
.pnpm-store/
apps/docs/build/
apps/docs/static/api/
apps/docs/.svelte-kit/
packages/nucleus/dist/
packages/nucleus/generated/
Cargo.lock
tools/glu/Cargo.lock
pnpm-lock.yaml
